// $DarkBlue : rgba(0, 18, 162, 1);
// $DeepBlue : rgba(0, 37, 184, 1);
// $Blue : rgba(0, 90, 219, 1);
// $Blue_30 : rgba(0, 90, 219, 0.3);
// $Blue_10 : rgba(229, 239, 251, 1);
// $Green :rgba(12, 186, 19, 1);
// $Green_10 :rgba(231, 248, 231, 1);
// $Red : rgba(247, 76, 65, 1);
// $Red_10 : rgba(253, 219, 217, 1);
// $Orange: rgba(245, 174, 64, 1);
// $Orange_10: rgba(254, 247, 236, 1);

$DarkGray: rgba(124, 132, 144, 1);
$MidGray: rgba(186, 190, 196, 1);
$LineGray: rgba(217, 219, 222, 0.4);
$HoverGray: rgba(232, 233, 235, 0.7);
$BackGray: rgba(247, 247, 247, 1);

$LightGray: rgba(217, 219, 222, 0.4);

$Black_100: rgba(0, 17, 41, 1);
$Black_70: rgba(0, 17, 41, 0.7);
$Black_40: rgba(0, 17, 41, 0.4);
$Black_20: rgba(0, 17, 41, 0.2);

$White_100: rgba(255, 255, 255, 1);
$White_70: rgba(255, 255, 255, 0.7);
$White_40: rgba(255, 255, 255, 0.4);
$White_20: rgba(255, 255, 255, 0.2);

$Black: #000000;
$White: #f4f4f4;
$Blue: #2225fe;
$Neon: #03ff22;
$MelangeGray: #f1f1f1;
$Yellow: #feed01;
$Bermilion: #ff4b00;
