@import 'variables.scss';
@import 'flexbox.scss';

// 체크리스트
@mixin check-list {
  display: flex;
  align-items: center;
  width: calc(25% - 0.75rem);
  height: 3rem;
  margin-right: 1rem;

  input {
    margin: 0.5rem;
  }

  label {
    color: rgba(0, 17, 41, 0.7);
    cursor: pointer;
  }
}

// 키워드
@mixin keyword-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1.5rem;
  width: 100%;

  .item {
    display: flex;
    align-items: center;

    margin: {
      right: 1rem;
      bottom: 1rem;
    }

    padding: 0.75rem 1rem;
    border:1px solid #E0E4EA;
    border-radius: .5rem;
    font-size: 1.15rem;

    img {
      margin-left: .5rem;
      width: 1rem;
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

// 필터 검색버튼
@mixin search-button {
  right: 3rem;
  bottom: 2.3rem;
  width: 6rem;
  height: 3.4rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #005ADB !important;
  font-size: 1.15rem;
}

// 메인 섹션 타이틀영역
@mixin main-item-wrap{
  .sectionTitleWrap {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.25rem;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 1px solid $LineGray;

    .titleRightBtn {
      border: 1px solid $LineGray;
      border-top: none;
      border-radius: .5rem;
      cursor: pointer;
    }
  }

  .itemContentsWrap{
    padding: 0 2rem 2rem 2rem;
  }
}

// flex
@mixin flex-item($justify-content: flex-start, $align-items: center) {
  @include flexbox;
  @include justify-content($justify-content);
  @include align-items($align-items);
  @content;
}

@mixin flex-default {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}

@mixin flex-space-between {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
}

// scroll
@mixin scroll-style {
  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: $BackGray;
    border-radius: 0 0.5rem 0.5rem 0;
  }

  &::-webkit-scrollbar {
    overflow:visible;
    }

  &::-webkit-scrollbar-thumb {
    overflow:visible;
  }

  &::-webkit-scrollbar-thumb {
    background: $HoverGray;
  }
}

// 모바일대응
@mixin mobile { 
  @media (max-width: 500px) {
    @content;
  }
}

@function rem($px){
  /* px을 rem으로 변환하는 함수 */
  // $px      (Number) 변환할 px 값
  @return calc($px / 16) * 1rem;
}